<div class="row">
    <div ng-if="erreur" class="col-xs-12">
        <div class="alert alert-danger">
            {{ erreur }}
        </div>
    </div>
    <form novalidate>
    <div class="col-xs-12">
        <div class="form-group">
            <input class="form-control" ng-model="infos.username" type="text" placeholder="Login" />
        </div>
        <div class="form-group">
            <input class="form-control" ng-model="infos.password" type="password" placeholder="Mot de passe" />
        </div>
    </div>

    <div class="col-xs-12">
        <button type="submit" ng-if="!isInConnexion" ng-click="auth(infos);" class="btn btn-success btn-lg">Se connecter</button>
        <button type="button" ng-if="isInConnexion" class="btn btn-success btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i></button>
    </div>
    </form>
</div>
                